<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="Productivity Scheduler">
		<meta name="description" content="App to make you productive!">

		<title>Productivity</title>
		
		<!-- external CSS link -->
		<!--
		<link rel="stylesheet" href="css/normalize.css"> 		-->

		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

	</head>
	<body>
		<div id="container">
		<!-- START HERE --> 
			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="getShitDoneLogo" style="width: 650px">
			<h1>Productivity Redefined</h1>
			<h2>you can always use a little help</h2>
		
			<p>Hi {{ name }}!! <br>
			   Welcome to the Productivity Zone!
			</p>

    		<p> Welcome {{people_document['displayName']}} </p>

			<p>Take your TO DO list and make a DONE list </p>

			<p>Add an activity to your calendar</p>

			<form name="selectActivity" action="/addactivity" method="post">
				<Select>
					<option name="book"> Book </option>
				<Select> <br>
				<input type="submit" value="Add Activity">
			</form>
		</div>
	</body>
</html>