<head>
		<meta charset="utf-8">
		<meta name="keywords" content="Productivity Scheduler">
		<meta name="description" content="App to make you productive!">

		<title>Productivity</title>
		
		<!-- external CSS link -->
		<!--
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		-->
	</head>
	<body>
		<div id="container">
		<!-- START HERE --> 

			<h1>Productivity Redefined</h1>
			<h2>you can always use a little help</h2>
		
			<p>Hi {{ name }}!! <br>
			   Welcome to the Productivity Zone!
			</p>


			<p>Take your TO DO list and make a DONE list </p>

			<p>Try reading {{ request.form["bookTitle"] }} book on Thursday! </p>
	</body>
</html>