<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="keywords" content="Productivity Scheduler">
		<meta name="description" content="App to make you productive!">

		<title>Productivity</title>
		
		<!-- external CSS link -->
		<!--
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		-->
	</head>
	<body>
		<div id="container">
		<!-- START HERE --> 

			<h1>Productivity Redefined</h1>
			<h2>you can always use a little help</h2>

			<p>Try reading {{ book_length }} pages of {{ book_title }} {{ time_period }}</p>
	</body>
</html>